:root {
    --primary-background: #0a0b0c;
    --secondary-background: #1b1c1d;
    --secondary-background-dark: #121314;
    --secondary-background-light: #202122;
    --primary-text: #d9e0f3;
    --secondary-text: #c0cfe7;
    --secondary-text-dark: #8490a3;

    --button-background: #31578f;
    --button-background-accent: #1c304e;
    --button-background-dark: #264370;
    --button-color: var(--primary-text);

    --cooling-text: rgb(99, 163, 247);
    --heating-text: rgb(250, 93, 93);
    --fan-text: rgb(72, 179, 68);
    --schedule-text: rgb(214, 104, 0);

    --spacing-base: 10px;
    --spacing-half: calc(var(--spacing-base)*.5);
    --spacing-one-plus-half: calc(var(--spacing-base)*1.5);
    --spacing-double: calc(var(--spacing-base)*2);
    --spacing-triple: calc(var(--spacing-base)*3);
    --spacing-four: calc(var(--spacing-base)*4);
    --spacing-five: calc(var(--spacing-base)*5);

    --font-size-base: 16pt;
    --font-size-caption: 14pt;
    --font-size-medium: 18pt;
    --font-size-large: 20pt;
    --font-size-xlarge: 24pt;
    --font-size-xxlarge: 26pt;
    --font-size-xxxlarge: 80pt;
}

@keyframes blink-animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.2;
    }
}

* {
    box-sizing: border-box;
    user-select: none;
}

body {
    background-color: var(--primary-background);
    color: var(--primary-text);
    cursor: none;
    display: flex;
    flex-direction: column;
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

button {
    color: var(--primary-text);
}

.text-auto {
    color: var(--auto-text);
}

.text-cool {
    color: var(--cooling-text);
}

.text-heat {
    color: var(--heating-text);
}

.text-secondary {
    color: var(--secondary-text);
}

.header-bar {
    flex: 0;
}

.header-bar {
    background-color: var(--secondary-background);
    display: flex;
    flex-direction: row;
    padding: var(--spacing-four) var(--spacing-double) var(--spacing-base);
}

.header-bar button {
    background: none;
    border: none;
    border-radius: 999px;
    font-size: var(--font-size-large);
    padding: var(--spacing-base);
    margin-bottom: -1 * var(--spacing-base);
}

.header-bar button#settings-button {
    color: var(--secondary-text);
}

.header-bar-left {
    flex-grow: 1;
}

.header-bar-right {
    flex-grow: 0;
}

.header-bar-time {
    font-size: var(--font-size-large);
    font-weight: bold;
}

.header-bar-date {
    font-size: var(--font-size-caption);
}

.main-content {
    display: flex;
    flex: 1;
    height: 0;
}

.main-content .temperature-panel {
    display: flex;
    flex: 1;
    margin: var(--spacing-base);
}

.temperature-panel {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--spacing-double);
    text-align: center;
}

.temperature-panel .temperature-panel-header {
    display: none;
    font-size: var(--font-size-caption);
}

.temperature-panel .temperature-panel-body {
    font-size: var(--font-size-xxxlarge);
    margin-top: var(--spacing-base);
}

.main-content .control-panel {
    --button-spacing: var(--spacing-base);

    display: flex;
    flex-basis: 23%;
    flex-direction: column;
    gap: var(--button-spacing);
    padding: var(--button-spacing) var(--button-spacing) 0;
}

.control-panel .control-panel-button {
    background-color: var(--secondary-background-dark);
    border: none;
    flex-basis: calc(50% - var(--button-spacing));
    font-size: var(--font-size-xxlarge);
    margin: 0;
}

.control-panel-button#heat-activation-button {
    color: var(--heating-text);
}

.control-panel-button#cool-activation-button {
    color: var(--cooling-text);
}

.control-panel-button#fan-activation-button {
    color: var(--fan-text);
}

.control-panel-button#sched-activation-button {
    color: var(--schedule-text);
}

.control-panel-button.disabled-function#heat-activation-button,
.control-panel-button.disabled-function#cool-activation-button,
.control-panel-button.disabled-function#fan-activation-button,
.control-panel-button.disabled-function#sched-activation-button {
    color: var(--secondary-text-dark);
}

.control-panel-button.activated-function {
    animation: blink-animation 1s infinite linear;
    animation-direction: alternate;
    background-color: var(--secondary-background);
}

.footer-panel {
    align-items: center;
    background-color: var(--secondary-background);
    display: flex;
    justify-content: stretch;
    padding: var(--spacing-double) 0;
}

.footer-panel-item {
    flex: 1;
    text-align: center;
}

.footer-panel-item-header {
    font-size: var(--font-size-caption);
}

.footer-panel-item-controls {
    font-size: var(--font-size-xlarge);
}

.footer-panel-item-controls button {
    background: none;
    border: none;
    color: var(--secondary-text-dark);
    font-size: var(--font-size-xlarge);
}
